@charset "UTF-8";

/* 
Paleta de cores
vder: #49a09d
Lilás: #5f2c82 */

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #5f2c82;
    background-repeat: no-repeat;
    height: 100vh;
}
div#formulario{
    background-color: white;
    width:50vw;
    height:307px;
    padding-top: 10px;
    margin-bottom: 5px;
    border-radius: 1px 1px 20px 20px ;
    margin: auto;
    text-align: center;
}

img{
    width: 50vw;
    height: 200px;
    margin-left: 125px; 
    margin-top: 5px;
    margin-bottom: -5px;
    border-radius: 20px 20px 1px 1px;  

}